<h1>Stream Manipulation methods Part 2</h1>

<h4 *ngIf="showEvery">The Every Method</h4>
<p *ngIf="showEvery">
  {{everyResult}}
</p>

<h4 *ngIf="showExhaust">The Exhaust Method</h4>
<p *ngIf="showExhaust">
  {{exhaustResult}}
</p>

<h4 *ngIf="showExpand">The Expand Method</h4>
<p *ngIf="showExpand">
  {{expandResult}}
</p>

<h4 *ngIf="showFilter">The Filter Method</h4>
<p *ngIf="showFilter">
  {{filterResult}}
</p>

<h4 *ngIf="showFind">The Find Method</h4>
<p *ngIf="showFind">
  {{findResult}}
</p>

<h4 *ngIf="showFindIndex">The FindIndex Method</h4>
<p *ngIf="showFindIndex">
  {{findIndexResult}}
</p>

<h4 *ngIf="showFirstOne">The First Method - No Predicate</h4>
<p *ngIf="showFirstOne">
  {{firstOneResult}}
</p>

<h4 *ngIf="showFirstTwo">The First Method - First number divisible by 2.</h4>
<p *ngIf="showFirstTwo">
  {{firstTwoResult}}
</p>

<h4 *ngIf="showIgnoreElements">The IgnoreElements Method.</h4>
<p *ngIf="showIgnoreElements">
  {{ignoreElementsResult}}
</p>

<h4 *ngIf="showIsEmpty">The IsEmpty Method.</h4>
<p *ngIf="showIsEmpty">
  {{isEmptyResult}}
</p>

<h4 *ngIf="showLastOne">The Last Method - No Predicate</h4>
<p *ngIf="showLastOne">
  {{lastOneResult}}
</p>

<h4 *ngIf="showLastTwo">The Last Method - Last number divisible by 2.</h4>
<p *ngIf="showLastTwo">
  {{lastTwoResult}}
</p>

<h4 *ngIf="showMap">The Map Method.</h4>
<p *ngIf="showMap">
  {{mapResult}}
</p>

<h4 *ngIf="showMapTo">The MapTo Method.</h4>
<p *ngIf="showMapTo">
  {{mapToResult}}
</p>

<h4 *ngIf="showMaxOne">The Max Method - Without Predicate.</h4>
<p *ngIf="showMaxOne">
  {{maxOneResult}}
</p>

<h4 *ngIf="showMaxTwo">The Max Method - With Predicate.</h4>
<p *ngIf="showMaxTwo">
  {{maxTwoResult}}
</p>

<h4 *ngIf="showMerge">The Merge Method.</h4>
<p *ngIf="showMerge">
  {{mergeResult}}
</p>

<h4 *ngIf="showMinOne">The Min Method - Without Predicate.</h4>
<p *ngIf="showMinOne">
  {{minOneResult}}
</p>

<h4 *ngIf="showMinTwo">The Min Method - With Predicate.</h4>
<p *ngIf="showMinTwo">
  {{minTwoResult}}
</p>

<h4 *ngIf="showPartition">The Partition Method</h4>
<p *ngIf="showPartition">
  Partition One Result: {{partitionOneResult}}
</p>
<p *ngIf="showPartition">
  Partition Two Result: {{partitionTwoResult}}
</p>